* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    margin: 10px;
}

main {
    max-width: 35rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    margin: 20px;
}

aside {
    width: 35rem;
    text-align: center;
}

aside img {
    width: 500px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 700px;
    left: 110px;
    color: aliceblue;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    background-color:white;
    color: black;
}
